/*SERVIÇOS*/

.title-services {
    margin-left: 70px;
    margin-top: 5rem;
}

.title-services h2 {
    background: linear-gradient(90deg,
            #231838 0%,
            #534274 13%,
            #322846 27.5%,
            #2e2541 43.5%,
            #492d39 58.5%,
            #653631 76%,
            #9b4620 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    max-width: 551px;
    font: 700 40px Inter, sans-serif;

}

.title-services h4 {
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}


.container-services {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    padding: 1em;
    font-family: arial;
}

.card-services {
    border-radius: 8px;
    text-align: center;
    color: #212121;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
    transition: all .2s;
    overflow: hidden;
    height: 340px;
}

.card-services:hover {
    transform: translateY(-.5em);
    box-shadow: 0 10px 5px 0 rgba(#000, .2);
}

.card-services img {
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.title-services-card {
    font-size: 1.4em;
    background: linear-gradient(90deg,
            #231838 0%,
            #534274 13%,
            #322846 27.5%,
            #2e2541 43.5%,
            #492d39 58.5%,
            #653631 76%,
            #9b4620 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
}

.desc-services-card {
    padding: .5em;
    line-height: 1.3;
}

.btn-services-card {
    background: var(--degrade);
    line-height: 2;
    padding: 0 1.5em;
    border-radius: 1em;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.convitechat {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.convitechat h4 {
    font-size: 16px;
    font-weight: normal;
    word-wrap: break-word;
    max-width: 90%;
}

.assistente {
    display: flex;
    align-items: center;
    justify-content: center;
}

.assistente p {
    background: linear-gradient(90deg, #231838 0%, #534274 13%, #322846 27.5%, #2e2541 43.5%, #492d39 58.5%, #653631 76%, #9b4620 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: bolder;
}

.iconcharles {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#iconcharles {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*PERFIL COM HISTÓRICO DE MANUTENÇÃO*/

/* Estilização geral do dashboard */
.dashboard {
    display: flex;
    min-height: 100vh;
}

/* Menu lateral */
.sidebar {
    width: 250px;
    background: white;
    height: 100vh;
    padding-top: 3rem;
    box-sizing: border-box;
    position: fixed;
    top: 2.5rem;
    left: 0;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 30px 0;
    text-align: left;

}

.sidebar-menu li {
    padding: 10px 10px;
    margin: 15px;
    list-style-type: none;
}

.sidebar-menu li.perfil {
    position: relative;
    background: var(--secondgradient);
    width: 95%;
    border-radius: 10px;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color .5s;
}

.sidebar-menu a {
    font-size: 1rem;
    color: black;
    line-height: 1.5;
    text-transform: uppercase;
}

.sidebar-menu li.perfil a {
    color: white;
}

/* Conteúdo principal */
.main-container {
    background-color: #f4f4f4;
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }
}

.container-title {
    margin-top: 5rem;
    text-align: center;
}

.title-perfil {
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.title-perfil p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    color: #333;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 0 15px;
}

.title-perfil p::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--border);
    margin: 10px auto;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.filter-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.filter-btn i {
    font-size: 1.2rem;
    color: black;
}

.container-table {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin: 20px auto;
    background: rgba(234, 234, 240, 0.452);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.filter-container h1 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
}

.filter-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.repair-table {
    width: 100%;
    border-collapse: collapse;

}

.repair-table th,
.repair-table td {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    padding: 12px;
    text-align: left;
}

#filter-form-container {
    position: absolute;
    width: 18%;
    right: 5px;
    top: 50px;
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.container-table {
    position: relative;
}

.filter-btn {
    position: relative;
}

#filter-form {
    display: flex;
    flex-direction: column;
}

#filter-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

#filter-form input,
#filter-form select {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filter-form button {
    padding: 10px 20px;
    background: var(--secondgradient);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#filter-form button:hover {
    background-color: #0056b3;
}

.repair-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.repair-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
    padding: 16px;
    border: none;
}

.repair-card h2 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #333;
}

.repair-card p {
    margin: 8px 0;
    font-size: 1rem;
    color: #555;
}

/* MOBILE */

@media (max-width: 1024px) {
    .repair-table {
        display: none;
    }

    .repair-cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .repair-cards {
        padding: 0;
    }

    .repair-card {
        padding: 12px;
    }

    .repair-card h2 {
        font-size: 1rem;
    }

    .repair-card p {
        font-size: 0.9rem;
    }
}

/* Alterar Perfil */
.main-container-perfil {
    margin-left: 250px;
    flex: 1;
    padding: 0 20px;
    background-color: #f4f4f4;
}

.form-container-alter {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5.5rem 2rem;
    height: 100vh;
}

.form-group {
    margin-bottom: 15px;
}

.form-group h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    line-height: 1.5;
    font-weight: lighter;
    text-transform: uppercase;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.185);
    border: none;
    border-radius: 10px;
    outline: none;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 30px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    font-size: 1.2rem;
    color: black;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-alter-perfil button {
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
    margin-right: 10px;
    color: #fff;
    border: none;
}

.alter-btn {
    background-color: #07046b;
}

.alter-btn:hover {
    background-color: #080649;
}

.delete-btn {
    background-color:  #8d1a1a;
}

.delete-btn:hover {
    background-color: #831704;
}

.car-info {
    margin-top: 20px;
}

.car-info h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    line-height: 1.5;
    font-weight: lighter;
    text-transform: uppercase;
}

.car-info p {
    font-size: 16px;
    margin-bottom: 10px;
}